<p>
  header works!
</p>

<h3>列表导航栏</h3>

<app-child [userInfo]="msg" #child (outer)="getData($event)"></app-child>
<!-- <button (click)="child.getChildFun()">父组件标记后,调用子组件方法</button> <br><br> -->
<button (click)="getChildData()">父组件标记后,调用子组件方法</button> <br><br>

<button (click)="goRouter()">点击跳转路由</button> <br><br>

<a routerLink="/lists/list/1">列表1</a>
<a routerLink="/lists/list/2">列表2</a>
<a routerLink="/lists/list/3">列表3</a>
<a [routerLink]="['/lists/list',4]">列表4</a>

<a [routerLink]="['/lists']" [queryParams]="{id:22}" >路由url传值</a>

<!-- http://localhost:5500/lists?id=22 -->

{{listsId}}

数值去重:{{filterArr | filter}}

<router-outlet></router-outlet>
