<div class="box">
  <header>
    <span>ToDoList</span>
    <input type="text" placeholder="添加ToDo" [(ngModel)]="task" (keyup.enter)="addContent()">
  </header>
  <main>
    <div class="doing">
      <span>正在进行</span>
      <div>{{doingArr.length}}</div>
    </div>
    <ul>
      <li *ngFor="let item of doingArr;let key=index">
        <!-- {{item | json}} -->
        <input type="checkbox" [(ngModel)]="item.checked" >
        {{item.title}}
        <span (click)="deleteItem(key)">删除</span>
        <span (click)="finish()">完成</span>
      </li>
    </ul>

    <div class="done">
        <span>已经完成</span>
        <div>{{doneArr.length}}</div>
    </div>
    <ul>
        <li *ngFor="let item of doneArr;let key=index">
          <!-- {{item | json}} -->
          <input type="checkbox" [(ngModel)]="item.checked" >
          {{item.title}}
          <span (click)="deleteItem(key)">删除</span>
        </li>
    </ul>
  </main>
</div>


<hr>

<div class="wrapper">
    <input type="text" [(ngModel)]="search"> <button (click)="searchValue()">搜索</button>
    <hr>
    <span class="lists" *ngFor="let item of searchArr;let key=index">
      <span>{{item}}</span><span (click)="deleteListItem(key)">删除</span>
    </span>
</div>
