.router_lists{
  display: flex;
  li{
    border: 1px solid #ccc;
    height: 44px;
    margin-right: 30px;
    a{
      display: inline-block;
      // width: 150px;
      padding: 0 15px;
      height: 44px;
      line-height: 44px;
      text-decoration: none;
      text-align: center;
      font-size:18px;
    }
  }
}

.active{
  background-color: pink;
  color:#fff;
}
